.Apply-form {
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background: linear-gradient(135deg, rgba(225, 225, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(225, 225, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0 0, 0.37);
  /* border: 1px solid orangered; */
  /* align-self: center; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid red; */
  width: 40vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

input {
  /* align-self: flex-start; */
  border: 1px solid #807c7c;
  border-radius: 10px;
  outline: none;
  padding: 0.7rem 0.7rem;
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
  width: 30vw;
}

label {
  font-size: 1.25rem;
}

label.title {
  margin-bottom: 1vh;
  font-weight: bold;
  align-self: center;
}

label.question {
  align-self: flex-start;
  font-weight: 500;
  margin-bottom: 0.9rem;
  /* width: 45vh; */
}

label.role {
  font-weight: normal;
  margin-top: auto;
  margin-bottom: auto;
  align-self: flex-start;
  width: 30vw;
}

span {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.9rem;
  align-items: flex-start;
  /* border: 1px solid green; */
}

input.checkbox-label {
  margin-top: auto;
  margin-bottom: auto;
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.8rem;
  padding: none;
}

input.speical {
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  outline: none;
  border-bottom: solid 1px #807c7c;
  width: 20vw;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5vh;
  /* border: 1px solid blue; */
}

textarea {
  border: 1px solid #807c7c;
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  margin-bottom: 0.9rem;
  width: 40vw;
  height: 20vh;
  align-self: flex-start;
}

.section-roles {
  /* align-self: center; */
  align-items: flex-start;
  text-align: none;
}

.section-title {
  align-self: center;
}
/* CSS */
.button-submit {
  align-self: center;
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset,
    rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button-submit:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-submit {
    padding: 16px 44px;
    min-width: 150px;
  }
  .Apply-form {
    font-size: 1.25rem;
    width: 50vw;
  }
}

@media (max-width: 375) {
  .Apply-form {
    font-size: 1rem;
    width: 90vw;
  }
}
